html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* general styling */

h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: #A1C2F1;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
  border-radius: 50%;
  height: 200px;
  min-height: 100px;
  border: #1D2C38 2px solid;
}

body {
  font-size: 125%;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #c4cee0;
}

.imgContainer {
  width: 200px;
  display: flex;
  align-items: center;
  min-width: 100px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

/* Header Styling */
h1,
h2 {
  text-align: center;
  font-family: 'Arvo', serif;
  font-weight: 700;
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
  color: #282627;
  padding-top: 70px;
}

h2 {
  font-size: 2rem;
  color: #55514e;
}

header {
  width: 100vw;
  height: 600px;
  margin-bottom: 100px;
  border-bottom: 2px solid #7191c2;
  background-image: url(./assets/petCollage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* pet box styling */
.petInfoFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul li {
  list-style: none;
}

h3 {
  font-weight: 700;
  font-size: 1.2rem;
  color: #1d2c38;
}

p {
  font-weight: 400;
  font-size: 1rem;
  color: #1d2c38;
}

.petInfoBox {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  border: 2px solid #7191c2;
  min-height: 350px;
  position: relative;
  margin-bottom: 30px;
  background-color: #eaf4fc;
  border-radius: 20px;
}

.reviewButton {
  position: absolute;
  font-size: 2rem;
  left: 20px;
  bottom: 10px;
  color: #1D2C38;
}

.reviewButton:hover,
.reviewButton:focus {
  color: white;
}

.fa-chevron-down,
.fa-chevron-up {
  color: #1d2c38;
}

.fa-chevron-down:hover,
.fa-chevron-up:hover,
.fa-chevron-down:focus,
.fa-chevron-up:focus {
  cursor: pointer;
  color: #a1c2f1;
}

.information {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 33%;
  justify-content: space-evenly;
}

.information p {
  margin: 0;
}

.petAttribute {
  font-weight: 700;
  font-style: italic;
}

textarea {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  resize: none;
  width: 100%;
  height: 50%;
  background-color: #f7fcfe;
  color: #282627;
}

textarea:placeholder-shown {
  font-style: italic;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 33%;
}

button {
  padding: 10px 20px;
  align-self: flex-end;
  border: 1px solid transparent;
  background-color: #1D2C38;
  color: white;
}

button:hover,
button:focus {
  cursor: pointer;
  background-color: #a1c2f1;
  color: #1D2C38;
}

button:active {
  transform: translateY(2px);
}

/* reviews styling */

article {
  width: 60%;
  border: 2px solid #a1c2f1;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  background-color: #f7fcfe;
  border-radius: 20px;
}

.reviewText{
  margin-left: 20px;
}

.name {
  font-weight: 700;
  margin-left: 20px;
}

/* pet entry form styling */
.petEntry {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 350px;
  justify-content: center;
  align-items: center;
  border: 2px solid #7191c2;
  min-height: 350px;
  position: relative;
  margin-bottom: 30px;
  background-color: #eaf4fc;
  border-radius: 20px;
}

.petEntry input {
  width: 90%;
  font-family: 'Noto Sans JP', sans-serif;
  margin-top: 15px;
  color: #282627;
}

.petEntry input:placeholder-shown {
  font-style: italic;
}

.entryButton {
  align-self: center;
  margin: 15px;
}


/* footer styles */
footer {
  width: 100vw;
  height: 150px;
  border-top: 2px solid #7191c2;
  text-align: center;
  margin-top: 100px;
  background-image: url(./assets/petCollage2.jpg);
  background-repeat: repeat;
}

footer p,
footer a {
  color: #5877a4;
}
footer a {
  text-decoration: none;
}

@media (max-width: 850px) {
  .imgContainer {
    margin-top: 30px;
  }

  .petInfoBox {
    flex-direction: column;
    align-items: center;
  }

  .information {
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;
    flex: 1 0 150px;
    justify-content: flex-start;
  }

  .review {
    flex-direction: row;
    width: 80%;
    margin-bottom: 30px;
  }

  textarea {
    margin-right: 30px;
    margin-left: 30px;
  }

  .reviewButton {
    bottom: 20px;
  }

  li {
    margin-right: 10px;
  }
}

@media (max-width: 630px) {
  .review {
    flex-direction: column;
  }

  button {
    align-self: center;
    margin-top: 30px;
  }

  .reviewButton {
    bottom: 25px;
  }

  .reviewerInfo {
    flex-direction: column;
    justify-content: space-around;
  }
}

